[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-futures = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
data-science-types = "*"
docker = "*"
pyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
